example.tar.gz
JCAP-author-manual.pdf

example

*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.pyc

main.bib

src/maps_beta
src/sims/Needlet/old_sims*
src/sims/Needlet/Planck/old_sims
src/sims/Cl
src/betajk1*
src/output_needlet_TG_OmL/wrong_grid
src/spectra/old_grid
src/spectra/CAMBSpectra_Om*
src/sims/Needlet/sims_*
src/sims/Needlet/Pietrobon*

src/noise/COM_CompMap_CMB-commrul_2048_R1.00.fits
src/mask/COM_Mask_CMB-common-Mask-Int_2048_R3.00.fits
src/mask/HFI_Mask_GalPlane-apo0_2048_R2.00.fits